.popup.popup_is-opened {
    display: flex;
}


/* .edit.popup_is-opened {
    display: flex;
} */


/* .popup_image {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
} */